<div class="button-container">
    <button mat-icon-button style="background-color: aqua;" (click)="home()">
        <mat-icon>home</mat-icon>
    </button>   
</div>

<br>
<br>

<div style="display: flex; justify-content: center;">
  <form class="order-form">
      <mat-form-field style="width: 70%;">
        <mat-label>Comidas / Bebidas</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let comida of filteredOptions | async" [value]="comida" (click)="selectedComida = comida" (click)="calcular_total(+selectedComida.precio, +cantidad.value)">
            {{comida.nombre}} >>> Disponible {{comida.cantidad}}  ---  {{comida.precio}} colones 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field style="width: 30%;">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" #cantidad maxlength="2" placeholder="Cantidad" value="1" (change)="calcular_total(+selectedComida.precio, +cantidad.value)">
      </mat-form-field>
  </form>
</div>

<br>

<div style="display: flex; justify-content: center;">
  <form class="order-form">
      <mat-form-field style="width: 70%;">
        <mat-label>Combos</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let comida of filteredOptions | async" [value]="comida" (click)="selectedComida = comida" (click)="calcular_total(+selectedComida.precio, +cantidad.value)">
            {{comida.nombre}} >>> Disponible {{comida.cantidad}}  ---  {{comida.precio}} colones 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field style="width: 30%;">
          <mat-label>Cantidad de combos</mat-label>
          <input matInput type="number" #cantidad maxlength="2" placeholder="Cantidad de combos" value="1" (change)="calcular_total(+selectedComida.precio, +cantidad.value)">
      </mat-form-field>
  </form>
</div>

<br>

<div style="display: flex; justify-content: center;">
  <button mat-raised-button (click)="confirmar_venta(+selectedComida.id, selectedComida.nombre,+selectedComida.precio, +selectedComida.cantidad, +cantidad.value)">Agregar a la lista de compras</button>
</div>

<br>
<br>

<div style="display: flex; justify-content: center;">
    <mat-label style="font-size: larger;">Total a pagar: {{total}}</mat-label>
</div>

<br>

<div style="display: flex; justify-content: center;">
  <button style=" background-color: rgb(35, 35, 94); color: rgb(255, 255, 255);" mat-raised-button (click)="confirmar_venta(+selectedComida.id, selectedComida.nombre,+selectedComida.precio, +selectedComida.cantidad, +cantidad.value)">Confirmar venta</button>
</div>

<br>
<br>

