<div class="button-container">
    <button mat-icon-button style="background-color: aqua;" (click)="home()">
        <mat-icon>home</mat-icon>
    </button>   
</div>


<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="COMIDAS">
        <br>
        <br>

        <div>
            <form class="order-form" style="display: flex; justify-content: center;">        
                <mat-form-field style="width: 30%;">
                    <mat-label>Nombre de comida/bebida</mat-label>
                    <input matInput type="text" #nombre placeholder="Nombre comida/bebida" value="">
                </mat-form-field>
                <mat-form-field style="width: 30%;">
                    <mat-label>Precio unitario</mat-label>
                    <input matInput type="number" #precio maxlength="4" placeholder="Precio" value="0">
                </mat-form-field>
                <mat-form-field style="width: 30%;">
                    <mat-label>Cantidad disponible</mat-label>
                    <input matInput type="number" #cantidad maxlength="3" placeholder="Cantidad" value="0">
                </mat-form-field>
            </form>
    
            <div style="display: flex; justify-content: center;">
                <button mat-raised-button (click)="agregar_comida(nombre.value, +precio.value, +cantidad.value)">Agregar Comida</button>
            </div>
        </div>

        <br>
        <br>

        <div>
            
            <div style="display: flex; justify-content: center;">
                <button mat-button [matMenuTriggerFor]="menu" style="background-color: rgb(129, 129, 209);">Menu</button>
                <mat-menu #menu="matMenu">
                  <ng-container *ngFor="let comida of comidas">
                    <button mat-menu-item (click)="seleccionarComida(comida)">{{ comida.nombre }}</button>
                  </ng-container>
                </mat-menu>
              </div>  
            <br>

            <form class="order-form" style="display: flex; justify-content: center;">        
                <mat-form-field style="width: 30%;">
                    <mat-label>Nombre de comida/bebida</mat-label>
                    <input matInput type="text" name="nombre_actualizado" #nombre_actualizado placeholder="Nombre comida/bebida" [(ngModel)]="comida_actualizada.nombre">
                </mat-form-field>
                <mat-form-field style="width: 30%;">
                    <mat-label>Precio unitario</mat-label>
                    <input matInput type="number" name="precio_actualizado" #precio_actualizado maxlength="4" placeholder="Precio" [(ngModel)]="comida_actualizada.precio">
                </mat-form-field>
                <mat-form-field style="width: 30%;">
                    <mat-label>Cantidad disponible</mat-label>
                    <input matInput type="number" name="cantidad_actualizada" #cantidad_actualizado maxlength="3" placeholder="Cantidad" [(ngModel)]="comida_actualizada.cantidad">
                </mat-form-field>
            </form>

            <div style="display: flex; justify-content: center;">
                <button mat-raised-button (click)="actualizar_comida()">Actualizar Comida</button>
            </div>

            <br>
            <br>

            <div style="display: flex; justify-content: center;">
                <button mat-raised-button (click)="borrar_comidas()">Borrar todas las comidas</button>
            </div>
        </div>
        
    </mat-tab>


    <mat-tab label="CARTONES">
        <br>
        <br>
        <form class="order-form" style="display: flex; justify-content: center;">        
            <mat-form-field style="width: 30%;">
                <mat-label>Cantidad de cartones</mat-label>
                <input matInput type="number" #cantidad maxlength="3" placeholder="Cantidad" value="1">
            </mat-form-field>
            <mat-form-field style="width: 30%;">
                <mat-label>Precio unitario</mat-label>
                <input matInput type="number" #precio maxlength="3" placeholder="Precio" value="1000">
            </mat-form-field>
        </form>

        <div style="display: flex; justify-content: center;">
            <button mat-raised-button (click)="actualizar_cartones(+cantidad.value, +precio.value)">Actualizar cantidad de cartones</button>
        </div>
    </mat-tab>
</mat-tab-group>


