.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgb(222, 238, 238); 
    width: 100%;
  }

  .mat-tab-group {
    margin-bottom: 48px;
  }