<mat-card class="image-container">
    <img src="assets/LogoHome.jpg" alt="LogoHome" />

    <div class="button-container">
        <td>
            <button mat-icon-button style="background-color: aqua;" (click)="ventas()">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </td>
        
        <td>
            <button mat-icon-button style="background-color: aqua;" (click)="dinero()">
                <mat-icon>money</mat-icon>
            </button>
        </td>
    </div>

    <td>
        <button mat-icon-button style="background-color: rgb(0, 255, 34);" (click)="test()">
            <mat-icon>android</mat-icon>
        </button>
    </td>

</mat-card>

